@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Lobster&family=Londrina+Shadow&family=Moon+Dance&family=Rubik:wght@500;600;700&family=Sono&family=Source+Code+Pro&display=swap');

body {
  margin: 0;

}
  html {
    font-family: Handjet, cursive;

  }
  @tailwind base;
  @layer base {
    html {
      font-family: Handjet, cursive;
      @apply text-stone-600;

    } 
  }

  @keyframes cursorAnimation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

